.widget {
    border-radius: 15pt;
    background-color: gray;
    opacity: .6;
    border: 2px solid white;
    transition: transform .5s ease-in-out;

    .title {
        border-radius: 15pt;
        background-color: whitesmoke;
        opacity: 1;
        border: 1px solid white;
        color: black;
        font-size: 20pt;
        margin: 1rem;
        text-align: center;
        text-justify: center;
    }
}

.widget:hover{
    transform: scale(1.02);
}