//modules imports
@import 'modules/planned-trips';
@import 'modules/table.scss';
@import 'modules/form.scss';
@import 'modules/widget.scss';
@import 'modules/navbar.scss';
@import 'modules/trips-card.scss';

//pages imports
@import 'pages/trips.scss'